{% extends 'todo/base.html' %}

{% block title %}To-Do List{% endblock %}

{% block content %}
<h1>To-Do List</h1>
<ul>
    {% for todo in object_list %}
        <li style="opacity: 0; transform: translateY(20px); transition: all 0.3s;">
            <span>{{ todo.title }}</span>
            <div>
                <a href="{% url 'todo_detail' todo.pk %}">View</a>
                <a href="{% url 'todo_edit' todo.pk %}">Edit</a>
                <a href="{% url 'todo_delete' todo.pk %}">Delete</a>
            </div>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'todo_create' %}"><button>Create New Todo</button></a>
{% endblock %}